* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------ */
/* SECCION HEADER - NAVBAR  */
/* ------------------------ */

header{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 80px;
  z-index: 2;
}
.container-header{
  display:flex;
  justify-content: space-between;
  background-color: rgb(233, 208, 177);
  margin: auto;
}

.menu{
  height: 80px;
}
.menu nav{
  height: 100%;
}
.menu nav ul{
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li{
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.menu nav ul li a{
  color: black;
  transition: color 300ms;
  text-decoration: none;
}

.menu a:hover{
  color:rgb(209, 170, 127);
  transition:ease-in .5s;
}

h1 {
  font-size: 3em;
}

p{
  color:rgb(187, 151, 108);
}

.info-content span {
  color: rgb(154, 124, 87);
}


/* --------------- */
/* SECCION INICIO */
/* --------------- */

#inicio {
  display: flex;
  width: 100%;
  min-width: 100px;
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
  background-size: cover ;
  background-position: center center;
  height: 100vh;
  
}

#inicio .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .presentacion .bienvenida {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .presentacion h2 {
  font-size: 100px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .presentacion .descripcion {  
  max-width: 700px;
  margin: 25px auto;
  font-size: 25px;
  text-align: center;
}

/* boton sobremi*/
#inicio .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#inicio .presentacion a:hover {
  background-color: rgb(205, 163, 113);
}


/* ----------------- */
/* SECCION SOBRE MI  */
/* ---------------- */

#sobremi {
  /* max-width: 9px; */
  margin: auto;
  padding-top: 100px !important;
  padding: 20px 15px;
  color: #111135;
  display: flex;
}

#sobremi .contenedor-foto {
  width: 300px;
  margin-right: 30px;
}

#sobremi .contenedor-foto img {
  display: flex;
  padding: 20px;
  padding-bottom: 65px;
  width: 250px;  
  border-radius: 20px;
  border: 3px solid bisque ;
  background-color: bisque;
}

#sobremi .sobremi {  
  text-align: center;
  margin: 0 20px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: bisque;
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
  color: rgb(205, 163, 113);
}

#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}
#sobremi .sobremi .carrousel{
  display: inline-block;
  height: 500px;
  width: 700px;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}

#sobremi .sobremi .carrousel{
  display: inline-block;
  height: 500px;
  width: 700px;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}
/* boton cv */
.download-cv {
  background-color: rgb(252, 242, 230);
  display: block;
  margin: auto;
  border: 2px solid bisque;
  border-radius: 50px;
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
  padding: 10px 15px !important;
}

.download-cv a{
  text-decoration: none;
  color: black;
}

.download-cv:hover {
  background-color: rgb(154, 124, 87);;
  color:white;
  box-shadow: none;
}
.boton-mostrar{
  background-color: rgb(252, 242, 230);
  display: block;
  margin: auto;
  border: 2px solid bisque;
  border-radius: 50px;
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
  padding: 5px 5px !important;
  
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  #sobremi {
    flex-direction: column; 
    align-items: center; 
  }

  #sobremi .contenedor-foto {
    margin-bottom: 20px; 
    flex: none; 
  }

  #sobremi .sobremi {
    text-align: center; 
    max-width: 100%; 
  }
}
/* ---------------- */
/* SECCION CONTACTO */
/* ---------------- */

#contacto {
  padding: 25px 15px;
  background-color: rgb(248, 241, 233);
  width: 100%;
}

#contacto .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: rgb(229, 188, 138);
  text-decoration-thickness: 5px;
  margin-bottom: 30px;
}

#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid bisque;
}

#contacto .contenedor-form .mitad input {
  width: 80%;
}

#contacto .contenedor-form .fila .input-full {
  align-content: flex-start;
  width: 100%;
  height: 400px;
}

#contacto .contenedor-form .mitad span {
font-weight: 200;
align-content: center;
}

/* -------------- */
/* SECCION FOOTER */
/* -------------- */

footer{
  background-color:rgb(233, 208, 177) ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.piedepagina h6{
  padding: 10px 20px;
  display: flex;
  color: rgb(80, 63, 42);
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: bisque;
  text-decoration-thickness: 5px;
}
.piedepagina a {
  display: inline-flex;
  margin: 0 20px;
  text-decoration: none;
}
.piedepagina h5{
  padding-top: 15px;
}
.piedepagina h5, p{
  display: flex;
  font-size: 14px;
  justify-content: center;
  color: rgb(174, 142, 104);

}

.lista{
  font-size: small;
}

/* no funciona bien  */
/* @media screen and (max-width: 800px) {
  header{
    width: 100%;
  }
  #inicio{
    width: 1100px;
  }
  #sobremi{
    /* display: flex; */
    /* width: 880px;
  }
  #sobremi .contenedor-foto{
  min-width: 200px;
  }

  #sobremi .sobremi{
    p , h1{
      margin-left: 60px;
    }
  }

  #contacto{
    width: 1100px;
  }
  footer{
    width: 1100px;
  }
  .download-cv {
    background-color: rgb(110, 78, 40);
    border: 2px solid rgb(124, 90, 49);
    border-radius: 50px;
    color:rgb(249, 249, 249);
    font-weight: bold;
    transition: .5s;
    padding: 10px 15px !important;
  }
  
  .download-cv a{
    text-decoration: none;
    color: rgb(255, 253, 253);
  }
}
 */ 
